@model BolaoNet.MVC.ViewModels.Apostas.ApostasJogosListViewModel

<div class="row">

    <div class="col-ld-12">
        
        <div class="col-xs-5">
            <div class="form-group">                
                <div class="input-group">

                    @Html.DropDownListFor(model => model.Filtros.FilterSelected, new SelectList(
                          new List<Object>{
                               new { value = 0, text = "Ontem, Hoje, Amanhã"  },
                               new { value = 1 , text = "Últimos 7 dias" },
                               new { value = 2 , text = "Próximos 7 dias" },
                               new { value = 3 , text = "Último Mês" },
                               new { value = 4 , text = "Próximo mês" },
                               new { value = 5 , text = "Este mês" },
                               new { value = 6 , text = "Período" },
                               new { value = 7 , text = "Rodada" },
                               new { value = 8 , text = "Time" },
                               new { value = 9 , text = "Fase" },
                               new { value = 10 , text = "Grupo" }
                            }, "value", "text", 0), "- Selecione o filtro -", new { @class = "form-control input-sm" })


                    @*<select class="form-control input-sm" id="gender">
                        <option>Ontem, Hoje, Amanhã</option>
                        <option>Últimos 7 dias</option>
                        <option>Próximos 7 dias</option>
                        <option>Último Mês</option>
                        <option>Próximo mês</option>
                        <option>Este mês</option>
                        <option>Período</option>
                        <option>Rodada</option>
                        <option>Time</option>
                        <option>Fase</option>
                        <option>Grupo</option>
                    </select>*@                    
                    <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">                    
                <div class="input-group" id="filtroRodadas">
                    @Html.DropDownListFor(x => x.Filtros.Rodada, (SelectList)ViewBag.Rodadas, new { @class = "form-control input-sm" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>

                <div class="input-group" id="filtroFases">
                    
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <input type="button" value="Filtrar" class="btn btn-default" />
            </div>
        </div>        
    </div>

</div>

@using(Html.BeginForm("SaveJogos", "ApostasJogos", FormMethod.Post, new {}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-ld-12">

            @Html.Partial("_JogosList", Model)

        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-2 text-center">
            <input type="submit" class="btn btn-primary btn-md active center-block " value="Salvar" />            
        </div>    
    </div>
}