@model BolaoNet.Portal.ViewModel.Apostas.ApostasJogosListVO

<div class="container">
    <div class="row">
        <div class="col-md-12">

            @Html.Partial("_JogosList", Model)

        </div>
    </div>
</div>