@using Res = BolaoNet.MVC.Resources.Views.Shared.Fragments.Footer

<div class="footer">
    <div class="pull-right">
        @Res.Version: <strong><a href="/Users/AccountHome/ReleaseNotes">@BolaoNet.MVC.Helpers.VersionApp.CurrentVersion()</a></strong>.
    </div>
    <div><strong>@Res.CopyRight</strong>&copy; @Res.Year</div>
</div><div class="footer-blueline"></div>
