@*@using Res = Enel.Coelce.GerenciamentoEnergetico.Resources.Views.Shared.Footer*@

<div class="footer">
    <div class="pull-right">
        Versão: <strong>@BolaoNet.MVC.Helpers.VersionApp.CurrentVersion()</strong>.
    </div>
    <div><strong>Direitos Autorais</strong>&copy; 2017</div>
</div><div class="footer-blueline"></div>
