<!-- Modal -->
<div class="modal fade" id="DialogRegras" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Regras de Uso</h4>
            </div>
            <div class="modal-body">                
                <h3>1. Aceitação dos Termos e Condições de Uso</h3>                
                O uso do website BolãoNet está condicionado à aceitação e ao cumprimento dos Termos e Condições de Uso descritos abaixo. 
                Para fazer uso do Site é preciso: 
                <br />
                (i) ler atentamente os termos descritos abaixo; 
                <br />
                (ii) concordar expressamente com eles, 
                <br />
                (iii) se cadastrar fornecendo um endereço de email e login válido para ter acesso ao Site.
                <br />
                Ao fazer uso do Site oferecido pelo BolãoNet, você (a partir de agora denominado Usuário) concorda que leu, 
                entendeu e aceitou os termos, regras e condições aqui dispostos.
                <br />
                O Site está disponível para QUALQUER tipo de pessoa para utilizá-la, independente de região, sexo, classe social, raça ou nacionalidade. 
                Caso o Usuário não possua capacidade para utilizar o Site(não possuir CPF) quando for mencionado Usuário neste Termo será então entendido 
                também que as declarações tenham sido prestadas por seu responsável legal.
                <br />
                O BolãoNET se reserva o direito de modificar a qualquer momento a apresentação, configuração e disponibilização do Site. 
                O mesmo se aplica a estes Termos e Condições de Uso, estabelecidos como condição fundamental para a utilização do serviço.

                <h3>2. Site</h3>                
                O BolãoNet oferece ao usuário um site que permite a navegação em seu conteúdo, que ficará hospedado nos servidores
                específicos definido pelo produtor.
                <br />

                <h3>3. Cadastro</h3>                
                O usuário declara e se responsabiliza pela veracidade de todos os dados por ele fornecidos ao site no momento de seu cadastro e 
                em qualquer atualização posterior, ficando responsável, portanto, por sua exatidão e autenticidade.
                É dever do usuário manter seus dados atualizados para a devida utilização do site.
                Somente será permitido um único cadastro por usuário, sendo necessário para sua efetivação o preenchimento de todos os campos
                exigidos no respectivo formulário.
                <br />
                No momento do cadastro, o usuário deverá escolher um nome de usuário (nickname) e senha (login), pessoal e intransferível,
                por meio dos quais ele terá acesso ao site, bem como um endereço de e-mail válido para contato, comprometendo-se a não informá-los a terceiros, 
                se responsabilizando exclusiva e pessoalmente pelo seu uso.
                <br />
                Ao concluir o cadastro, o usuário receberá uma mensagem do BolãoNet em seu e-mail cadastrado, visando à validação do mesmo. 
                Bastará que o usuário clique na URL para validar e ativar seu cadastro.
                O usuário não pode utilizar palavras deselegantes ou ofensivas para criar seu login, bem como a utilização de marcas de terceiros,
                nomes de entidades e organizações, nomes protegidos por direitos autorais ou que violem quaisquer direitos de terceiros, 
                sob pena de serem cancelados pelo Administrador do BolãoNET, ao seu livre e exclusivo critério.
                <br />
                O Administrador do BolãoNET se reserva o direito de, a qualquer tempo, ao seu livre e exclusivo critério e sem aviso prévio:
                (I) conferir os dados informados pelo usuário no cadastro do site, podendo solicitar dados e/ou documentos adicionais;
                <br />
                (II) cancelar ou excluir os cadastros de usuários que estejam inativos há mais de 90 (noventa) dias, ou seja, sem ao menos fazer o login. 
                <br />
                Para tanto, o Administrador do BolãoNET encaminhará um e-mail ao usuário, para o endereço que este informou em seu cadastro e, 
                caso não haja nenhuma resposta ou atividade no site dentro de, até, 30 (trinta) dias contados do envio do mesmo, o Administrador
                do BolãoNET procederá o cancelamento do cadastro e exclusão do usuário do banco de dados.
                <br />
                O usuário se compromete a comunicar imediatamente o Administrador do BolãoNET qualquer eventual perda ou roubo de sua senha de acesso, 
                assim como qualquer risco de acesso a ela por terceiros.
                <br />
                É recomendável ao usuário trocar de senha periodicamente, o que pode ser feito acessando-se a página no site.
                <br />

                <h3>4. Gratuidade</h3>                
                O site é oferecido ao usuário de forma gratuita. Os valores referentes à utilização dos serviços necessários ao acesso à Internet, 
                entre outros, são de responsabilidade exclusiva do usuário.
                <br />

                <h3>5. Utilização do Site</h3>                
                O usuário reconhece que é responsável por quaisquer informações falsas que possam ser prestadas para a utilização do site. 
                O usuário isenta o BolãoNet de qualquer responsabilidade quanto à veracidade dos dados pessoais fornecidos por ele no site.
                <br />
                O usuário reconhece ainda, que estes Termos e Condições de Uso do site oferecida pelo BolãoNet devem ser observados
                e fielmente cumpridos, sob pena de cancelamento e bloqueio de utilização do site e demais medidas cabíveis, 
                caso os mencionados termos forem violados ou descumpridos.
                <br />

                <h3>6. Registro e dados pessoais</h3>                
                É dever do usuário manter sempre atualizados os dados pessoais de seu perfil no site.*
                <br />
                O Administrador do BolãoNet pode cancelar qualquer registro do usuário, a qualquer momento e sem prévio aviso, assim que reconhecer 
                qualquer descumprimento por parte do usuário, intencional ou não, destes Termos e Condições de Uso, violação de leis e regulamentos federais, 
                estaduais e/ou municipais, ou violação os princípios legais, da moral e dos bons costumes.
                <br />
                Os usuários que tiverem seus registros cancelados não poderão mais utilizar o site.*
                <br />

                <h3>7. Regras de conduta do Usuário</h3>                
                O usuário se compromete a não utilizar o site para a publicação, criação, armazenamento e/ou divulgação de:
                <br />
                Conteúdo abusivo como textos, fotos e/ou vídeos que tenham caráter difamatório, discriminatório, obsceno, ofensivo, ameaçador, abusivo,
                vexatório, prejudicial, que contenha expressões de ódio contra pessoas ou grupos, ou que contenha pornografia infantil, 
                pornografia explícita ou violenta, conteúdo que possa ser danoso a menores, que contenha insultos e/ou ameaças religiosas ou raciais, 
                ou que incentive danos morais (incluindo os corporais) e patrimoniais, ou que possa violar qualquer direito de terceiro, 
                notadamente os direitos humanos;
                <br />
                Banners publicitários e/ou qualquer tipo de comércio eletrônico que seja considerado ilícito, assim entendidos os que sejam contrários 
                à legislação ou ofendam direitos de terceiros;
                <br />
                Qualquer tipo de material (textos, fotos e/ou vídeos) protegido por direitos autorais, copyright ou que, por qualquer razão, 
                violem direitos de terceiros a menos que sejam permitidos pelas empresas envolvidas nos projetos;
                <br />
                Informações difamatórias e caluniosas ou que sejam contrárias à honra, à intimidade pessoal e familiar ou à imagem das pessoas 
                (inclusive de pessoas jurídicas, entidades e organizações a ela equiparadas);
                <br />
                Material que incite à violência e à criminalidade, bem como à pirataria de produtos;
                <br />
                Conteúdo que provoque, por suas características (como extensões e formatos de arquivos) danos ao sistema do BolãoNet.
                <br />
                O usuário concorda que, ao usar o site, não irá:
                <br />
                Fornecer dados pessoais (com exceção da foto de perfil e o nome do usuário) como números de telefone e celulares, sites pessoais ou qualquer 
                informação do gênero que o localize fora do BolãoNet;
                <br />
                Violar qualquer um destes Termos e Condições de Uso;
                <br />
                Praticar falsidade, assim entendidas a falsidade de informações (i.e: divulgação proposital e voluntária de informações que o usuário saiba 
                ser falsa ou que sejam notoriamente falsas) e a falsidade ideológica;
                <br />
                Publicar ou transmitir qualquer conteúdo abusivo ou ofensivo nos comentários;
                <br />
                Replicar ou armazenar conteúdo abusivo nos servidores do BolãoNet;
                <br />
                Fazer qualquer coisa ou praticar qualquer ato contrário à boa-fé e aos usos e costumes das comunidades virtuais e que possam ofender 
                qualquer direito de terceiros. Por violação aos usos e costumes de comunidades virtuais também deve ser entendido o uso excessivo 
                de texto em letras maiúsculas, uso de críticas ofensivas (conhecidas como flamming), a inclusão desnecessária e imprudente de comunicações 
                anteriores em qualquer publicação ou transmissão, bem como qualquer outro ato que esteja em desacordo com a etiqueta da Internet comumente aceita;
                <br />
                Cometer fraude;
                <br />
                Violar ou infringir direitos de propriedade intelectual, direitos fiduciários ou contratuais, direitos de privacidade ou publicidade de outros;
                <br />
                Propagar, distribuir ou transmitir códigos destrutivos, quer tenham ou não causado danos reais;
                <br />
                Reunir dados pessoais ou comerciais, incluindo (mas não se limitando a) endereços de e-mail e/ou nomes de qualquer recurso da Internet, 
                seja gerenciado por nós ou por terceiros, para fins comerciais, políticos, de benemerência ou outros, sem o consentimento dos proprietários 
                desses dados;
                <br />
                Reproduzir, replicar, copiar, alterar, modificar, criar obras derivativas a partir de, vender ou revender qualquer um dos serviços do 
                BolãoNet ou qualquer parte deles, incluindo websites e páginas web, ou as informações ou dados contidos nos serviços do BolãoNet 
                sem permissão é terminantemente proibido;
                <br />
                Usar robôs, “spiders” ou qualquer outro dispositivo, automático ou manual, para monitorar ou copiar qualquer conteúdo do serviço 
                do BolãoNet;
                <br />
                Transmitir conteúdo que não pertence ao usuário ou que ele não tenha direito de publicar ou distribuir, seja sob lei ou contrato;
                <br />
                Acessar o site sem autorização, por meio de práticas de hacking, password mining ou qualquer outro meio fraudulento ou que represente 
                violação a direito de terceiros;
                <br />
                Realizar ou incentivar atividades ilegais, incluindo (mas não se limitando a) promover ou facilitar o acesso, uso ou venda de substâncias 
                ou dispositivos perigosos;
                <br />
                Deixar de cumprir com quaisquer leis, normas, regras, princípios e regulamentações aplicáveis;
                <br />
                Ajudar qualquer terceiro a realizar qualquer uma das ações vedadas por estes Termos e Condições de Uso.
                <br />

                <h3>8. Direitos de Propriedade Intelectual</h3>                
                O BolãoNet respeita os direitos de propriedade intelectual de terceiros e requer que os usuários façam o mesmo.
                <br />
                Ao enviar qualquer conteúdo ou informação para o site, incluindo textos, tais como comentários, seção de dúvidas, participação em 
                concurso cultural, fotografias, ilustrações, vídeos, arquivos de áudio e outros materiais, o usuário declara autorizar, 
                de forma gratuita, não exclusiva, perpétua, global e livre de royalty, o uso do material pelo BolãoNet e suas empresas 
                afiliadas e parceiras, por qualquer modalidade e suporte, para publicação, reprodução, transmissão, retransmissão, distribuição, 
                comunicação ao público, edição, adaptação e outras transformações, tradução para qualquer idioma, inclusão em quaisquer outras obras, 
                representação, execução, uso por radiodifusão e outros meios de comunicação, mediante o emprego de qualquer tecnologia, exposição, 
                inclusão em base de dados e quaisquer outras modalidades de utilização existentes ou que venham a ser inventadas no futuro, 
                em quaisquer suportes existentes ou que venham a ser inventados no futuro, autorizando também a criação de obras derivadas 
                e o sublicenciamento do material para uso em outras plataformas de comunicação do BolãoNet, sem limite de tempo e território, 
                a não ser que o projeto seja o escolhido pela empresa, com isso a empresa passa a ter os devidos direitos de compra de um 
                projeto produzido pelo usuário.
                <br />
                Qualquer eventual omissão não implicará limitação de uso do material pelo BolãoNet. Se o usuário não concorda em autorizar 
                o BolãoNet a utilizar sua contribuição conforme acima, o usuário então não deverá submeter qualquer material para o site.
                <br />
                Todos os direitos autorais patrimoniais sobre o material submetido pelo usuário continuam sendo de sua propriedade e seu nome será 
                citado sempre que o material for utilizado pelo BolãoNet, conforme informado pelo usuário, exceto se o espaço ou suporte 
                físico em que for figurar não possibilitar essa citação. O BolãoNet está autorizado a editar os comentários enviados pelo usuário.
                <br />
                O usuário reconhece e declara que em qualquer contribuição submetida para o site, o material correspondente é de sua exclusiva criação, 
                não constituindo violação de direitos autorais, marcas, segredos, direitos de personalidade, incluindo honra, intimidade, vida privada 
                e a imagem das pessoas, direitos patrimoniais e quaisquer outros direitos de terceiros e que possui poderes para autorizar o uso do 
                material pelo BolãoNet, conforme acima.
                <br />
                Desde que citada a fonte (inclusive o nome do autor, quando possível e aplicável) e dentro das condições e limites previstos em lei, 
                notadamente a Lei de Direitos Autorais (Lei n.º 9.610/98), o usuário não pode reproduzir, publicar, apresentar, alugar, oferecer ou 
                expor qualquer cópia de qualquer conteúdo pertencente ao BolãoNet sem o consentimento do mesmo ou, no caso de conteúdo de autoria 
                de terceiros, sem o consentimento do autor ou autora.
                <br />
                O usuário se compromete a cumprir todas as leis nacionais e internacionais referentes aos Direitos de Propriedade Intelectual.
                <br />

                <h3>9. Denúncia de abusos e violação</h3>                
                O usuário se compromete a denunciar quaisquer abusos ou violação destes Termos e Condições de Uso ou de quaisquer direitos de terceiros 
                que observar e/ou for vítima quando utilizar o site. O usuário deve utilizar o canal disponibilizado no site para comunicação.
                <br />
                Todo conteúdo que o usuário publica utilizando qualquer método do BolãoNet, é totalmente confidencial, tendo apenas o BolãoNet
                e a empresa participante o acesso aos projetos realizados
                <br />

                <h3>10. Responsabilidades</h3>                
                O BolãoNet não se responsabiliza por quaisquer danos sofridos pelo usuário ou terceiros que, de qualquer modo, tenha origem 
                ou dependência relacionada ao site.
                <br />
                O BolãoNet se exime de quaisquer responsabilidades sobre prejuízos resultantes de qualquer interrupção ou erro no site do BolãoNet,
                incluindo a impossibilidade de acessar o site e/ou os websites relacionados a ele.
                <br />
                O BolãoNet não é proprietário dos produtos oferecidos pelos comerciantes, clientes (ou anunciantes), não detém a posse deles.
                <br />
                O usuário reconhece que não há nenhum envolvimento ou intervenção do BolãoNet nos negócios celebrados com os clientes no site. 
                Os clientes também não podem alterar quaisquer projetos sem antes ter selecionado e adquirido legalmente ele(s). 
                Em nenhum caso o BolãoNet será responsável por qualquer dano ou prejuízo sofrido pelo usuário em decorrência das negociações 
                realizadas por meio do site, em função da conduta dos comerciantes, inclusive, mas não se limitando, fraudes ou estelionato online.
                <br />
                O BolãoNet tem a obrigação de controlar (e efetivamente irá) a oferta e comercialização dos projetos realizados pelos usuários, 
                as condições de venda dos projetos estabelecidas pelos clientes, e o cumprimento, pelo cliente, das obrigações decorrentes da 
                escolha de um ou mais dos projetos oferecidos.
                <br />
                O BolãoNet também se responsabiliza pela transação efetuada do prêmio do ganhador entre usuário e cliente, pelo efetivo cumprimento 
                das obrigações assumidas pelos clientes, pela existência, quantidade, qualidade, estado, licitude, integridade ou legitimidade dos 
                projetos oferecidos. O BolãoNet não outorga garantia por vícios ocultos ou aparentes nos produtos e/ou nas negociações 
                entre os usuários e clientes. É terminantemente proibido a negociação singular entre qualquer usuário do BolãoNet com o cliente 
                sem a autorização do BolãoNet.
                <br />
                O usuário reconhece e aceita que, ao realizar projetos para os clientes, o faz por sua conta e risco, isentando o BolãoNet de 
                qualquer responsabilidade.
                <br />

                <h3>11. Privacidade de dados</h3>                
                O BolãoNet não se responsabiliza por quaisquer danos que o usuário possa sofrer, que tenham origem na divulgação dos dados pessoais 
                do usuário ou de terceiros em materiais publicados em qualquer website.
                <br />
                O BolãoNet preserva a privacidade dos dados dos usuários e se compromete a revelar os dados pessoais do usuário apenas devido a um 
                dos seguintes motivos:
                <br />
                Por lei;
                <br />
                Por meio de uma ordem ou intimação de um órgão, autoridade ou tribunal com poderes para tanto e de jurisdição competente;
                <br />
                Para garantir a segurança dos sistemas, resguardar direitos e prevenir responsabilidades do BolãoNet.
                <br />

                <h3>12. Legislação aplicável</h3>                
                Estes Termos e Condições de Uso são governados e interpretados segundo as leis da República Federativa do Brasil e todas as disputas, 
                ações e outros assuntos relacionados serão determinados de acordo com essa legislação.
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>