
<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h3 class="text-info"><i class="fa fa-info-circle fa-2x"></i></h3>
            <h3 class="text-info">
                Registro de usuário efetuado
            </h3>
            <h4 class="text-info">Acesse sua conta de email para verificar o código de ativação.</h4>
            <br />
            <h5><a href="~/Account/ActivateCode">Ativação de Código</a></h5>

        </div>
    </div>
</div>