@model BolaoNet.MVC.ViewModels.Testes.TestesViewModel

@{
    ViewBag.Title = "Teste de Conexão";
}

<h2>Teste de Conexão</h2>

@Html.ActionLink("Testar Conexão", "TestConnection")
<br />
@Model.ResultTestConnection

<p />

@Html.ActionLink("Obter Data Corrente", "GetCurrentDateTime")
<br />
@Model.ResultCurrentDateTime
