<div class="row">
    <div class="col">
            <input id="userNamelInput" placeholder="usuário" type="text" required="">
            
    </div>

    <div class="col">
            <input id="userNamelInput" placeholder="usuário" type="text" required="">        
    </div>

    <div class="col-2">
        <input type="button" value="Filtrar" class="btn" />
    </div>
</div>


<div class="row">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
</div>