<div class="col-md-12">

    <form class="form">
        <fieldset>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>

                    <select id="ddlFiltro" class="form-control">
                        <option value="Exemplo1">Exemplo1</option>
                        <option value="Exemplo1">Exemplo1</option>
                    </select>
                    
                    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card color-blue"></i></span>

                    <select id="ddlFiltro" class="form-control">
                        <option value="Exemplo1">Exemplo1</option>
                        <option value="Exemplo3">Exemplo3</option>
                    </select>

                    
                    <input class="btn btn-sm btn-primary" value="Filtrar" type="submit">
                    
                    
                </div>
            </div>
        </fieldset>
    </form>


 

</div>


