@model BolaoNet.MVC.ViewModels.Apostas.ApostasJogosListViewModel

@*<div class="container">*@
    <div class="row">
        
        @Html.Partial("_FiltroJogos", Model)

    </div>
    <div class="row">
        <div class="col-ld-12">

            @Html.Partial("_JogosList", Model)

        </div>
    </div>
@*</div>*@