
<div class="row">
    <div class="col-ld-12">

        <form role="form">
            <div class="col-xs-5">
                <div class="form-group">
                    @*<label for="InputName">Enter Name</label>*@
                    <div class="input-group">
                        <select class="form-control input-sm" id="gender">
                            <option>Ontem, Hoje, Amanhã</option>
                            <option>Últimos 7 dias</option>
                            <option>Próximos 7 dias</option>
                            <option>Último Mês</option>
                            <option>Próximo mês</option>
                            <option>Este mês</option>
                            <option>Período</option>
                            <option>Rodada</option>
                            <option>Time</option>
                            <option>Fase</option>
                            <option>Grupo</option>
                        </select>
                        @*<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>*@
                        <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    @*<label for="InputName">Enter Name</label>*@
                    <div class="input-group">
                        
                        <select class="form-control input-sm" id="gender">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <input type="button" value="Filtrar" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>