
.img-username {
    border-radius: 30px 30px 30px 30px;
    width: 30px;
    height: 30px;
}

.img-profile {
    width: 100px;
    height: 100px;
}

.img-time {
    width: 25px;
    height: 25px;
}

.img-time-resultado {
    border-radius: 10px 10px 10px 10px;
    width: 35px;
    height: 35px;
}

 